@import url("jqm-docs.css");
@import url("toastr.css");
@import url("jquery-mobile.css");
@import url("jquery-mobile-datebox.css");
@import url("jw-jqm-cal.css");
@import url("jsoneditor.css");
@import url("gridster-js.css");

input, button {
    -webkit-appearance: none;
}

.ui-icon-nedm-loading:after {
        background: url(images/light-loader.gif) no-repeat rgba(0, 0, 0, 0.0);
        background-position: 0 50%;
}
.ui-icon-nedm-stopped:after {
	background: rgba(0, 0, 0, 0.0);
}
.controlgroup-textinput {
    padding-top:.22em;
    padding-bottom:.22em;
}

th.db_name {
    vertical-align:middle;
}

.nedm-status-button-r, .nedm-status-button-loading, .nedm-status-button-g {
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    float: right;
}

.nedm-status-button-r {
    background: url(images/RedLight-small.png);
}
.nedm-status-button-loading {
    background: url(images/light-loader-highres.gif);
}
.nedm-status-button-g {
    background: url(images/GreenLight-small.png);
}
.ui-icon-nedm-status-button-g:after {
    background-image: url(images/GreenLight-small.png);
}
.nedm-status-r, .nedm-status-y, .nedm-status-g {
    font-family:Lucida Console;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align:middle;
    display: table-cell;
}

.nedm-status-r {
        background-image: url(images/RedLight.png);
}

.nedm-status-g {
        background-image: url(images/GreenLight.png);
}

.nedm-status-y {
        background-image: url(images/YellowLight.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-icon-nedm-loading:after {
	    background: url(images/light-loader-highres.gif) no-repeat rgba(0, 0, 0, 0.0);
		background-size: 18px 18px;
        background-position: 0 50%;
	}
}

.text_box_bad_input {
    background-color: rgb(255, 125, 115) !important;
}

.code_editor {
    height: 275px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
}

.bolded_font {
    font-weight: bold;
}

.db-status-blink {
    background-color: rgb(192,192,192);
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}

.red_text {
  color: red;
}
.green_text {
  color: green;
}

.sub_li_header,.measurement_name,.measurement_status  {
  font-style:italic;
  text-overflow: ellipsis;
  font-size:60%;
};

/*/
/* gridster
/*/
.gridster * {
  margin:0;
  padding:0;
}

.gridster ul {
    list-style-type: none;
    background-color: #EFEFEF;
}

.gridster li {
    padding:0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #FFF;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.gridster li .graph_show {
    position: absolute;
    top: 10px;
    bottom: 5px;
    left: 0px;
    right: 0px;
}

.gridster li .header {
    background: #999;
    position: absolute;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    padding: 0;
    height: 100%;
    left: 0;
    display: none;
    cursor: move;
}

.gridster li .header button {
    display:block;
    margin:0 auto;
    top: 50%;
}

/*/
/* monitoring
/*/

li .show_plot {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
li .monitor_options {
    position: absolute;
    display:block;
    bottom: 0px;
    height: 0px;
    left: 10px;
    right: 10px;
    display: none;
    overflow: auto;
}

li .window_designation {
    position: absolute;
    display:block;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    vertical-align: middle;
    text-align: center;
    display: none;
}

.protocol_table > div {
    margin-left: 2em;
}

#db-status-id {
  position: fixed;
  z-index: 999999;
  /*overrides*/

}
#db-status-id * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#db-status-id > div {
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#db-status-id > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

.toast-title, .toast-message {
  text-shadow: none;
}

#db-status-id .toast-title {
  text-align: center;
}

#db-status-id .log {
  overflow: auto;
  right: 10px;
  position: absolute;
}

#db-status-id .ui-controlgroup-controls {
  float: left;
}

#db-status-id .ui-btn {
  width: 95px;

}

table.settings {
  table-layout: fixed;
}

td.settings {
  width: 50px;
}

td.loading {
  background-image: url(images/large-loader.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
