@import url("jqm-docs.css");
@import url("toastr.css");
@import url("jquery-mobile.css");
@import url("jquery-mobile-datebox.css");
@import url("jw-jqm-cal.css");
@import url("jsoneditor.css");
@import url("gridster-js.css");

input, button {
    -webkit-appearance: none;
}

.ui-icon-nedm-loading:after {
        background: url(images/light-loader.gif) no-repeat rgba(0, 0, 0, 0.0);
        background-position: 0 50%;
}
.ui-icon-nedm-stopped:after {
	background: rgba(0, 0, 0, 0.0);
}
.controlgroup-textinput {
    padding-top:.22em;
    padding-bottom:.22em;
}

th.db_name {
    vertical-align:middle;
}

.nedm-status-button-r, .nedm-status-button-loading, .nedm-status-button-g {
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    float: right;
}

.nedm-status-button-r {
    background: url(images/RedLight-small.png);
}
.nedm-status-button-loading {
    background: url(images/light-loader-highres.gif);
}
.nedm-status-button-g {
    background: url(images/GreenLight-small.png);
}
.ui-icon-nedm-status-button-g:after {
    background-image: url(images/GreenLight-small.png);
}
.nedm-status-r, .nedm-status-y, .nedm-status-g {
    font-family:Lucida Console;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align:middle;
    display: table-cell;
}

.nedm-status-r {
        background-image: url(images/RedLight.png);
}

.nedm-status-g {
        background-image: url(images/GreenLight.png);
}

.nedm-status-y {
        background-image: url(images/YellowLight.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-icon-nedm-loading:after {
	    background: url(images/light-loader-highres.gif) no-repeat rgba(0, 0, 0, 0.0);
		background-size: 18px 18px;
        background-position: 0 50%;
	}
}

.text_box_bad_input {
    background-color: rgb(255, 125, 115) !important;
}

.code_editor {
    height: 275px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
}

.bolded_font {
    font-weight: bold;
}

.db-status-blink {
    background-color: rgb(192,192,192);
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}

.red_text {
  color: red;
}
.green_text {
  color: green;
}

.sub_li_header,.measurement_name,.measurement_status  {
  font-style:italic;
  text-overflow: ellipsis;
  font-size:60%;
};
